html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

@keyframes fade {
    from {background-color: rgba(200, 200, 255, 1.0;}
    to {background-color: rgba(200, 200, 255, 0.4;}
}

html {
    background: url(https://pbs.twimg.com/media/DQAQoChXUAAeWBV.jpg:large) no-repeat center;
    background-size: cover;
}
body {
    background: rgba(200, 200, 255, 0.4);
    animation: fade 10s;
}
